@page "/admin"
@rendermode InteractiveServer
@attribute [Authorize(Roles = "Admin")]

@using Microsoft.AspNetCore.Authorization

@inject ISetSvc SetSvc
@inject IRepositorySvc RepoSvc

<PageTitle>Administration</PageTitle>

<h1>Only admins should be able to come here</h1>

<div>
    <button @onclick="SyncDatabase">Sync database</button>
</div>

<div>
    <button @onclick="ResetCache">Reset cache</button>
</div>

@code
{
    private async Task SyncDatabase()
    {
        await SetSvc.Sync();
    }
    
    private void ResetCache()
    {
        RepoSvc.Reset();
    }
}